@import "theme.css";

#libcamera #what-s-new {
	margin-top: 50px;
}

ul.postlist {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

ul.postlist li {
	clear: both;
}

ul.postlist li:not(:first-child) {
	border-top: 1px dotted #4896e0;
	padding-top: 20px;
}

ul.postlist li div {
	margin-left: 110px;
}

ul.postlist li p:first-child {
	margin-top: 0px;
}

ul.postlist img {
	float: left;
	margin-right: 10px;
}

div.blog-collection-entry {
	clear: both;
}

div.blog-collection-entry:not(:last-child) {
	border-bottom: 1px dotted #4896e0;
}

div.blog-collection-entry h2 {
	font-size: 130%;
}

div.blog-collection-entry img {
	float: left;
	margin-right: 10px;
}
